
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}


.navbar-inverse {
    
    background: linear-gradient(to right, #363636 , #4a4a4a , #1a1a1a);
    border: none;
    border-radius: 0px;
    padding: 22px;
    height: 130px
}




.bar-contacto {
    background: linear-gradient(to right, #e87d1e , #f1ac14);
    color: white;
    text-align: right;
    font-size: 0.95em;
    padding: 4px;
    padding-right: 10px;
    border-radius: 0px;
}

.activa { 
    background-color: #636363;
    color: #fff;
}





.caps a {
        text-transform: uppercase;
        font-size: 0.7em;
        letter-spacing: 2px;
        font-weight: 600;

        margin: 0 auto;
        height: 28px;
        white-space: nowrap;
        line-height: 6px;
        }



.tabcontent ul {
    background-color: darkgray;
}

.tabcontent ul a:hover {
    background-color: #7e7e7e;
}

@media (min-width: 768px) {
    
    .caps a {
        border-left: 1px solid #cacaca;
    }
    
    .caps li {
    border-right: 0px;
    }
    .caps li:last-child {
        border-right: 0px;
    }
    .caps li:first-child {
        border-left: 0px;
    }
 


}



.footer-cs {
    margin-top: 10px;
}

.footer-cs img {
    max-width: 100%;
}

.flotar {
    position: absolute;
    top: 200px;
    left: 80px;
    border-radius: 10px;
}
.calltoaction {
    width: 100%;
    background-color: #ececec;
    padding: 10px;
}
.calltoaction a {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-left: 10px;
}


.calltoaction h6 {
    display: inline-block;
    font-weight: 600;
}

.maxwith {
    max-width: 1100px;
}

.tablinks {
    
    }
.activi { 
background-color: black;
    z-index: 4;
    color: white;
}
.unactivi { 
background-color: #878686;
    z-index: 4;
    color: white;
}

.activa { 
    background-color: #606060;
    color: #fff;
}
.unactiva { 
    background-color: #929292;
    color: #c9c9c9;
}

.cabezera {
    margin-bottom: 28px;
}

